@keyframes cookieAnimation {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

.cookie-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  animation: cookieAnimation 1s 1 forwards;
  z-index: 999;
}

.cookie-popup {
  display: flex;
  flex-direction: column;
  background: #33333399;
  padding-left: 0.6rem;
  color: #fff;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding-bottom: 0.5rem;
}

.btn-container input {
  border: 0;
  background: 0;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  background: red;
  color: #fff;
  font-size: 18px;
}

.btn-container #all-btn {
  background: blue;
}

#all-btn:hover {
  background: darkblue;
}

.btn-container #selected-btn {
  background: green;
}

#selected-btn:hover {
  background: darkgreen;
}

.dinny-gallery .gallery-figure img {
  width: 100%;
}

.dinny-gallery .gallery-figure {
  position: relative;
}

.gallery-figure .arrows-container {
  z-index: 997;
}

.arrows-container img {
  width: 20vw !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

.arrows-container .forwards-btn {
  left: 80%;
  transform: rotate(-90deg);
}

.arrows-container .backwards-btn {
  left: -5%;
  transform: rotate(90deg);
}
